- provide(:title, 'Groups')
.row.h-100
  .col-xl.bg-white.p-3.d-flex.justify-content-between.shadow-sm
    %h3.m-0 Expended:
    %h3.m-0= number_to_currency(current_user.expenses.total)
  .col-xl.px-3.pt-1.h-100
    .overflow-auto.h-75
      = render 'users/groups-card'
  = link_to 'Add Group', new_group_path, class: 'fixed btn btn-success btn-lg p-3 m-1 shadow-sm'
