- provide(:title, user_name)
.row
  .col.p-3
    %p
      Total spent:
      - hello = current_user.expenses.all.map do |expense|
        = expense.amount


    %p Find me in app/views/users/show.html.haml
