$enable-gradients: true;
$enable-shadows: true;
$enable-rounded: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true;

@import 'bootswatch/flatly/variables';
@import 'bootstrap';
@import 'bootswatch/flatly/bootswatch';
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'site-stylesheet'
