$enable-gradients: true;
$enable-shadows: true;
$enable-rounded: true;
$enable-transitions: true;
$enable-responsive-font-sizes: true;

// @import 'bootswatch/flatly/variables';
// @import 'bootstrap';
// @import 'bootswatch/flatly/bootswatch';
// @import "font-awesome";
@import 'site-stylesheet';

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
   background: #007bcb; background: -moz-linear-gradient(-13deg,  #007bcb 0%,#27a3df 100%,#6e7ff3 100%); background: -webkit-linear-gradient(-13deg,  #007bcb 0%,#27a3df 100%,#6e7ff3 100%); background: linear-gradient(-13deg,  #007bcb 0%,#27a3df 100%,#6e7ff3 100%);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  z-index: 999;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: left;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  color: white;
}

hr {
  width: 100%;
  border: 1px solid white;
}

.fixed {
  position: absolute;
  top: 0;
  left: 0;
}
