%button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "true", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
  %span.navbar-toggler-icon
